html{
    margin:0;
    padding:0;
}

#logo-img{
    width:70px;
    height:35px;
}
nav{
    background-color: rgb(63, 68, 67);
}
#ticket-color{
    color: rgb(12, 192, 42);
}

#background-hero{
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("imagenes/ba4.jpg");
    background-size:cover;
    background-repeat: none;
}

#position-rel{
    position: relative;
}

#caption-hero{
    position: absolute;
       width: 39%;
       left: 50%;
       bottom:25%;
}
#button-color{
    background-color: rgb(12, 192, 42);
}

#cards{
    margin: 0 10%;
}
 @media screen and (max-width: 768px){
      #caption-hero{
          position: absolute;
          width: 60%;
          left:30% ;
      }
      #cards{
          margin: 0 5%;
      }
  

 }

 @media screen  and (max-width: 425px) {
     #caption-hero{
    position: absolute;
    width: 60%;
    left:30% ;
    bottom: 10%;
     }
     #button-color{
         margin-top: 0.8em;
     }

     #cards{
        margin: 0;
    }
 }