body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo-img{
    width:70px;
    height:35px;
}
nav{
    background-color: rgb(63, 68, 67);
}
#ticket-color{
    color: rgb(12, 192, 42);
}

#background-hero{
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/imagenes/ba4.jpg");
    background-size:cover;
    background-repeat: none;
}

#position-rel{
    position: relative;
}

#caption-hero{
    position: absolute;
    left: 50vw;
    bottom:25vh;
}
#button-color{
    background-color: rgb(12, 192, 42);
}

#cards{
    margin: 0 10vw;
}
#form{
    width: 50vw;
    margin: 0px auto;
}
#form-button{
    background-color: rgb(144, 206, 131);
    border: none;
    width: 100%;
}

footer{
    background-color: rgba(22, 61, 80, 0.918);
}
 @media screen and (max-width: 768px){
      #caption-hero{
          position: absolute;
          width: 60vw;
          left:30vw ;
      }
      #cards{
          margin: 0 5vw;
      }
      #honolulu-img{
          height: 90vh;
      
      }
      #form{
        width: 80vw;
        margin: 0px auto;
    }

 }

 @media screen  and (max-width: 576px) {
     #caption-hero{
    position: absolute;
    bottom: 10vw;
    margin-left: 0;
    margin-right: 0;
     }
     #button-color{
         margin-top: 0.8em;
     }

     #cards{
        margin: 0;
    }
    #form{
        width: 95vw;
        margin: 0px auto;
    }
    #footer-list{
        display: block;
       
    }

 }